<h1>Fancy Cocktails</h1>

<ul>
<% @cocktails.each do |r| %>
  <li>
    <%= link_to "ðŸ¹", cocktail_path(r) %> <%= r.name %>
  </li>
<% end %>
</ul>

<%= link_to "âž• Add a Cocktail", new_cocktail_path %>

